name: Build and Publish Docker Image

on:
  push:
    branches:
      - main
      - remove-win-dependencies

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -f PBIRInspectorCLI/Dockerfile -t ghcr.io/${{ github.repository }}/fab-inspector:latest .

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.repository }}/fab-inspector:latest