name: Build and Publish Docker Image

permissions:
  contents: read
  packages: write

on:
  push:
    branches:
      - main
      - fromyamlrule

  workflow_dispatch:
  # Allows manual triggering of the workflow from the GitHub Actions UI

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -f PBIRInspectorCLI/Dockerfile -t ghcr.io/natvang/fab-inspector:latest .

      - name: Push Docker image
        run: |
          docker push ghcr.io/natvang/fab-inspector:latest